
      <!--INICIO DO CONTEUDO-->
      <section class="content-header">
        </section>
  
        <section class="content">
          <section class="invoice">           
                <form #form="ngForm" novalidate>
                  <div class="row">
                    <div class="col-xs-12">
                      <h2 class="page-header">
                        <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                      </h2>
                    </div>
                  </div>                
                   <!--template verbles-->
                  <div class="row invoice-info">
                    <div class="col-xs-12">
                      <p class="lead">Endereço de Entrega:</p>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                         <mt-input-container errorMessage="Campo obrigatorio e no minimo 5 caracteres" label="Endereço" >
                            <input name="address" class="form-control" ngModel required minlength="5" placeholder="Endereço" autocomplete="off" >

                         </mt-input-container>
                    </div>
                    <div class="col-sm-3 col-xs-6">   <!-- classe e sucesso se o template verble for verdadeiro-->
                          <mt-input-container errorMessage="Obrigatorio e somente números" label="Numero">
                              <input type="text" class="form-control" name="number" pattern="^[0-9]*$" required  ngModel placeholder="Número" autocomplete="off">
                          </mt-input-container>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                      <mt-input-container>
                          <input type="text" class="form-control" name="optionalAddress" ngModel placeholder="Complemento">
                      </mt-input-container>
  
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
  
                  <!-- Table row -->
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="lead">Itens do Pedido:</p>
                    </div>
                     <mt-order-itens [items]="cartItems()"
                        (increaseQty)="increaseQty($event)"
                        (decreaseQty)="decreaseQty($event)"
                        (remove)="remove($event)"></mt-order-itens>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
  
                  <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-sm-6 col-xs-12">
                      <p class="lead">Formas de Pagamento:</p>
  
                        <div class="form-group">
                            <mt-radio [options]="paymentOptions" name="paymentOption" ngModel required></mt-radio>  
                        </div>
  
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6 col-xs-12">
                      <p class="lead">Frete e Total:</p>
                            <mt-delivery-costs [delivery]="delivery"
                                               [itemsValue]="itemsValue()"></mt-delivery-costs>
                     
                    </div>
                    <!-- /.col -->
                  </div>
  
                </form>
  
                <div class="row"  >
                  <div class="col-xs-12">
                    <button (click)="checkOrder(form.value)" class="btn btn-success pull-right" [disabled]="!form.valid || cartItems().length === 0" >
                      <i class="fa fa-credit-card"></i>Concluir Pedido
                    </button>
                  </div>
                </div>
  
            </section>
        </section>
        <!-- FIM DO CONTEUDO  [disabled]="!form.valid"  -->