<div class="menu-item-info-box">    <!--menu item declarado no menu-item component-->
  <span class="menu-item-info-box-icon"><img [src]="menuItem.imagePath"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <span class="menu-item-info-box-detail">{{menuItem.description}}</span>
    <!-- currency = pipe especifico para moeda, o segundo parametro brl = iso da moeda
    o terceiro parametro = simbolo da moeda-->
    <span class="menu-item-info-box-price">{{menuItem.price | currency: 'BRL': true}}</span>
    <!--em adicionar eu crio um evento importando no componente ts eventemitter
    uso o click para chamar um metodo interno criado no compoenet ts-->
    <a (click)="emitAddEvent()"class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>